[ANNOTATION]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/testAll_input/galGal6.cat.gff

[BAM]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/testAll_input/galGal.sorted.bam

[PROTEIN_FASTA]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/testAll_input/GCF_000002315.6_GRCg6a_protein.faa.gz
