[ANNOTATION]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/input_data/galGal6.cat.gff

[ISO_SEQ_BAM]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/input_data/galGal.sorted.bam

[PROTEIN_FASTA]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/cat/input_data/GCF_000002315.6_GRCg6a_protein.faa
