[ANNOTATION]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/Comparative-Annotation-Toolkit/input_data/galGal6.filtpy.gff

[PROTEIN_FASTA]
galGal = /n/holyscratch01/informatics/swuitchik/ducks_project/post_cactus/Comparative-Annotation-Toolkit/input_data/GCF_000002315.6_GRCg6a_protein.faa.gz
